@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600;700&display=swap');


:root{
    --cor01: #073341;    /* NOVO: Azul Escuro/Fundo Principal */
    --cor02: #FFFFFF;    /* Branco (Texto Principal) - OKAY */
    --cor03: #4DD0E1;    /* Ciano Turquesa Suave (Destaque/Ação) - OKAY */
    --cor04: #88D8EA;    /* Azul Claro (Suave) - OKAY */
    --cor05: #293F47;    /* (Pode ser mantido para detalhes, se necessário) */
}

*{
    padding: 0;
    margin: 0;
   
    
}

body{ 
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    
}

header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6); 
}


header > a > img{
    width: auto;
    height: 60px;
    aspect-ratio: 1/1;

    box-shadow: 0 0 10px rgba(77, 208, 225, 0.6); 
    border-radius: 50%;
     
}

header > nav > ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
    font-weight: bold;
    
}

header > nav > ul > li > a{
    text-decoration: none;
    color: var(--cor02);
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}

header > nav > ul > li >a:hover{
    background-color: var(--cor04);
    color: var(--cor05);
}

header, footer{
    background-color: var(--cor01);
    color: var(--cor02);
}

h1{
    color: var(--cor05);
    font-size: 40px;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 2px;

    text-shadow: 
    1px 1px 0 var(--cor02),  
    2px 2px 5px rgba(0, 0, 0, 0.2); 
   
    
}


main{
    flex-grow: 1;
    background-color: var(--cor02);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 10px; 
    gap: 10px;
    
}

main > *{
    grid-column: 2;
    max-width: 800px;
    
    margin: 0 auto;
}

main > section{
    
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    border-radius: 10px;
}

h2{
    color: var(--cor01);
    font-family: 'Rajdhani', sans-serif;
}



/* Home */

main > section#Home{
    
    text-align: center;
    
}


main > section#Home > p{
    color: var(--cor01);
    font-style: italic;
}

main > section > p{
    line-height: 2em;
}

/* Outras Sections */

main section:not(:first-child){
    border-left: 5px solid var(--cor05);
    border-right: 5px solid var(--cor05);
    margin: 30px 0px;
    
}

/* Seção Serviços */

div#servicos-habilidades, div#materiais-trabalhados{

    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
}

ul#lista-servicos, ul#lista-materiais{
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    gap: 12px;
    padding: 5px;
    justify-content: center;
    padding: 10px 0 20px 0;
}

ul#lista-servicos li, ul#lista-materiais li{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor04);
    color: var(--cor01);
    padding: 8px 12px;
    border-radius: 15px;
    font-weight: 500;
    height: 25px;
    font-size: 14px;
    transition: background-color 0.3s ease , color 0.3s ease;
    border-bottom: 2px solid var(--cor01);
    
}

ul#lista-servicos li:hover , ul#lista-materiais li:hover{
    background-color: var(--cor03); 
    color: var(--cor02);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}


.galeria-rotulo{
    margin: auto;
    font-size: 1.1em;
    color: var(--cor05);
    padding: 20px 0 10px 0;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
}

.galeria-rotulo strong{
    color: var(--cor01);
    margin-right: 2px;

}

/* Estilo Base para os CARDS */

.portfolio-item{
    background-color: var(--cor02);
    border: 1px solid var(--cor04);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
    overflow: hidden;
    transition:  box-shadow 0.3s ease;
    margin: 20px;
    
}

.portfolio-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.portfolio-item:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


/* Layout para as imagens */
.galeria-bruto, .galeria-pronto{
    display: grid;
    /* Mobile */
    grid-template-columns: 1fr; 
    
}




/* Seção Contato */

ul#contato-lista{
    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
}

a.contato-link{
    text-decoration: none;
    color: var(--cor05);
    font-weight: 500;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 5px;
    background-color: var(--cor05);
    opacity: 0.8;
    color: var(--cor02);
    padding-left: 5px ;
    border-radius: 8px;
    letter-spacing: 1px;
    transition: transform 0.6s ease; 

}

a.contato-link:hover{
    opacity: 1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: translateX(5px)
}

span#WhatsApp{
    color: #25D366 ;
}

span#Email{
    color: var(--cor04)
}

span#Facebook{
    color: #1877F2 ;
}

span#WhatsApp , span#Email , span#Facebook{
    font-size: 24px;

}

/* Horários */

div.horario-funcionamento{
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    
    border-top: 4px solid var(--cor01);
    border-bottom: 4px solid var(--cor01);
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin: 20px;   
}

div.horario-funcionamento p{
    color: var(--cor01);
}

/* Para o Mapa */

h3{
    margin: auto;
    color: var(--cor01);
}

.mapa-responsivo{
    margin: auto;
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 300px;
}

.mapa-responsivo iframe{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
}


footer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 5px;
    padding: 5px;

}

footer > p > a{
    text-decoration: none;
    color: var(--cor03);
}

footer > p > a:hover{
    text-decoration: underline;
}


/* Botão Hambúrguer */

#menu-toggler{
    display: none;
    background: none;
    border: 2px solid var(--cor04);
    border-radius: 5px;
    color: var(--cor03);
    font-size: 1.5em;
    cursor: pointer;
    z-index: 2;
    padding: 5px;
    transition: background-color 0.3s ease;
}

#menu-toggler:hover{
    background-color: rgb(255, 255, 255, 0.2);

}

/* TABLET (Mínimo 600px): 2 Colunas  */
@media (min-width: 600px){
    .galeria-bruto, .galeria-pronto{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* DESKTOP (Mínimo 1000px): Bruto com 2 colunas, Pronto com 3 colunas */

@media (min-width: 1000px){
    .galeria-bruto{
        grid-template-columns: repeat(2, 1fr);
        max-width: 800px;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    .galeria-pronto{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px){
    #menu-toggler{
        display: block;
    }

    header nav{
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: var(--cor01);
        box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    }

    /* Configura os itens do menu para ficarem em coluna */
    header nav ul {
        flex-direction: column;
        padding: 10px 0;
        gap: 0;
    }

    /* Faz os links ocuparem 100% para facilitar o clique */
    header nav ul li a {
        display: block; 
        padding: 15px 20px;
        text-align: center;
        border-bottom: 1px solid var(--cor05); 
    }
    /* A classe que o JS irá alternar para abrir/fechar */
    header nav.active {
        display: block; 
    }


}


/*  Para telas bem estreitas  */

@media (max-width: 400px){
    ul#lista-servicos li, ul#lista-materiais li {
        font-size: 13px; 
        padding: 8px 8px; 
    }

    div.horario-funcionamento p {
        font-size: 0.9em; 
    }

    .galeria-rotulo {
        font-size: 12px; /* Reduz levemente o tamanho da fonte */  
    }
}